<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>toastr Test</title>
    <script type="text/javascript" src="/jslib/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/jslib/toastr/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/jslib/toastr/toastr.min.css" />
    <script type="text/javascript" src="/jslib/angular/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/jslib/angular/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/jslib/angular/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="/jslib/toastrjs/toastr.js"></script>
    <script type="text/javascript" src="/jslib/hubspotjs/hubspot.js"></script>

    <script type="text/javascript" src="/jslib/hubspot/messenger.min.js"></script>
    <script type="text/javascript" src="/jslib/hubspot/messenger-theme-future.js"></script>
    <link rel="stylesheet" type="text/css" href="/jslib/hubspot/messenger.css"/>
    <link rel="stylesheet" type="text/css" href="/jslib/hubspot/messenger-theme-air.css"/>
    <link rel="stylesheet" type="text/css" href="/jslib/hubspot/messenger-theme-future.css"/>
    <link rel="stylesheet" type="text/css" href="/jslib/hubspot/messenger-theme-ice.css"/>
</head>
<body>

    <h1> toastr Information</h1>

    <button id="showtoast">show info toast（提示）</button>
    <br>
    <button id="showtoastsuccess">show success toast（成功）</button>
    <br>
    <button id="showtoasterror">show error toast（错误）</button>
    <br>
    <button id="showtoastwarning">show warning toast（警告）</button>
    <br>
    <button id="cleartoasts">clear toast（清除）</button>
    <br>
    <button id="removetoasts">remove toast（移除）</button>
    <br>
<h1>Bootstrap Messengger</h1>
    <button id="showboot">show info toast（提示）</button>
    <br>
    <button id="showbootsuccess">show success toast（成功）</button>
    <br>
    <button id="showbooterror">show error toast（错误）</button>
    <br>
    <button id="showbootwarning">show warning toast（警告）</button>
    <br>
    <button id="clearboot">clear toast（清除）</button>
    <br>
    <button id="removeboot">remove toast（移除）</button>
    <br>





</body>
</html>